<div class="container">
    <div class="row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/lnkd_pic.jpg" alt="profile pic" width="256" height="256" class="rounded-circle">
                <p>Description</p>
            </div>
        </div>


        <!--Featured projects-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>