<div class="container">
    <div class="row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/lnkd_pic.jpg" alt="profile pic" width="256" height="256" class="rounded-circle">
                <p>Hello, I'm Davi Versan, a software engineering student at the Institute of Technology and Leadership - 
                    INTELI, a college located at São Paulo that combines business and computing through a project-based methodology. In this 
                    website you will have access to my project portfolio, contact information and work experience. Check it out!</p>
            </div>
        </div>


        <!--Featured projects-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Current Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portolio section to learn more!</p>
        </div>
    </div>
</div>