<div class="container text-center">
    <button (click)="DonwloadFile()" class="btn btn-primary mb-5 shadow-border">Download PDF resume</button>


    <div class="pd-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div> 
                </button>
                
                <div style="text-align: left;">
                    <h2 class="mb-0">Summer Intern - Jan, 2025</h2>
                    <h3 class="text-primary">Atvos - São Paulo, Brazil</h3>

                    <p><b>Description:</b> Summer internship at Atvos, one of the largest Brazilian biofuel and renewable energy producer.</p>

                    <ul>
                        <li>I worked in a data engineering project, contributing with the creation of a database that stored the company's information about its facilities and data related to available equipment, colaborators' behaviour, working units and industrial processes;</li>
                        <li>This project was developed in Google Big Query through an ETL process (Extract-Load-Transform); </li>
                        <li>The main tools used was Python, SQL and PowerBI for data visualization;</li>
                        <li>The result was the delivery of a database consisting of tables formated in a Star Schema, following a gold standard (Medallion Architecture); </li>
                        <li>This database allowed the business team to understand data extracted of the company's power plants and other industrial facilities, in order to keep track of the production levels and create strategies to increase efficiency;</li>    
                        <li>Atvos <a href="https://atvos.com/">Website.</a></li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div> 
                </button>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">v</div>
                    </div> 
                </button>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div> 
                </button>
    
            </accordion-group>
        </accordion>
    </div>
    
</div>
